{{ range . }}
<div style="border: 1px #000 solid;">
	<p>
		<strong>Name: 
		</strong>
		{{.Name}}
	</p>
	<p>
		<strong>Email: 
		</strong>
		{{.Email}}
	</p>
	<p>
		<strong>Birthdate: 
		</strong>
		{{.Birthdate}}
	</p>
	<p>
		<strong>Age: 
		</strong>
		{{.Age}}
	</p>
</div>
{{ end }}