<form method="post" action="/students">

	<p>
		<label for="name">Name:</label>
		<input type="text" name="name" id="name">
	</p>
	<p>
		<label for="email">Email:</label>
		<input type="text" name="email" id="email">
	</p>
	<p>
		<label for="birthdate">Birthdate:</label>
		<input type="text" name="birthdate" id="birthdate">
	</p>
	<p>
		<label for="age">Age:</label>
		<input type="text" name="age" id="age">
	</p>
	<input type="submit" value="Create Students">

</form>